<!DOCTYPE html>
<html>
<head>
    <title>This is a test</title>
    <script type="text/javascript" src='jquery.min.js'></script>
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='plotly.min.js'></script>
    
</head>

<body ng-app='plotInfo'>

<div ng-controller='plotInfoData' >

    <get-filter-items data='filterData' v='"town"'></get-filter-items>
    <get-filter-items data='filterData' v='"flat_type"'></get-filter-items>
    <get-filter-items data='filterData' v='"flat_model"'></get-filter-items>
    <br style='clear:left;'>
    <hr>

    <div>
        x-label: <select ng-model='xColumn' ng-options='c for c in columns'></select> 
        y-label: <select ng-model='yColumn' ng-options='c for c in columns'></select> 
        groupBy: <select ng-model='groupBy' ng-options='c for c in columns.concat(["None"])'></select> <br>
        groupByInternal: <select ng-model='groupByI'    ng-options='c for c in columns.concat(["None"])'></select> 
        aggFunction:     <select ng-model='aggFunction' ng-options='c for c in ["mean", "median", "min", "max"]'></select> <br>
    </div>


    <button ng-click='generatePostData()'> Plot Data </button>

    <div id='plot' style='height: 300px; width: 600px; border: 3px solid black;'>
        <!-- <scatter-plot data='data' width=600 height=300 ></scatter-plot> -->
        <scatter-plot width=600 height=300 ></scatter-plot>
    </div>


</div>

</body>
</html>

